body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
}

.container {
    /* overflow: auto; */
    text-align: center;
    /* display: inline-grid; */
}

h2 {
    text-align: center;
}
