body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
}

.container {
    /* overflow: auto; */
    text-align: center;
    width: 720px;
    height: 480px;
}

h2 {
    text-align: center;
}
